// Light

@font-face
  font-family 'fira_sansthin'
  src url('../fonts/firasans-thin.eot')
  src url('../fonts/firasans-thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-thin.woff') format('woff'),
       url('../fonts/firasans-thin.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'firasans-light'
  src url('../fonts/firasans-light.eot')
  src url('../fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-light.woff') format('woff'),
       url('../fonts/firasans-light.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'fira_sanssemibold'
  src url('../fonts/firasans-semibold.eot')
  src url('../fonts/firasans-semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-semibold.woff') format('woff'),
       url('../fonts/firasans-semibold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'fira_sansbold'
  src url('../fonts/firasans-bold.eot')
  src url('../fonts/firasans-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-bold.woff') format('woff'),
       url('../fonts/firasans-bold.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'fira_sansultra'
  src url('../fonts/fira_sansultra.eot')
  src url('../fonts/fira_sansultra.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fira_sansultra.woff') format('woff'),
       url('../fonts/fira_sansultra.ttf') format('truetype')
  font-weight normal
  font-style normal

@font-face
  font-family 'firasans-extrabold'
  src url('../fonts/firasans-extrabold.eot')
  src url('../fonts/firasans-extrabold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/firasans-extrabold.woff') format('woff'),
       url('../fonts/firasans-extrabold.ttf') format('truetype')
  font-weight normal
  font-style normal
