//testims
section.testims
	.container
		.row
			.col-xs-12
				div(class="block-title service__title")
					div(class="block-title service__title-icon")
						svg(width="12" height="12")
							use(xlink:href="assets/images/icons.svg#icon-chat")
					h4 <span>Отзывы пациентов</span>
					h3 Более <span class="bold-text">12 978 жителей Ставрополя </span> уже вылечили зубы<br class="visible-lg"> у нас <span class="bold-text">за 12 лет работы</span> клиники
		.row
			.testim-slider
				//1
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/1.jpg").image-link
								img(data-src="assets/images/testims/mock/1.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text">Коновал </span> А. П.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Всю свою жизнь боялся стоматологов, шёл и поджилки тряслись, но мои опасения оказались напрасны.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Клиника на высоком уровне. Оборудование новое, персонал вежливый и профессиональный.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Очень доволен, всё понравилось. Порекомендую друзьям
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Процветания, успехов и благодарных пациентов.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Коновал").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Коновал").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//2
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/2.jpg").image-link
								img(data-src="assets/images/testims/mock/2.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 6 ноября 2015
							h5 <span class="bold-text"> Николенко </span> С. А.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Шла с уверенностью в клинику, знала, что врач стоматолог сделает свою работу на 100%.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Большую благодарность хочу высказать Гончаровой Ольге Владимировне, за её золотые руки.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Положительное. Лучшая клиника, лучшие врачи.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Процветания, успехов и долгого существования.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Николенко").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Николенко").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//3
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/3.jpg").image-link
								img(data-src="assets/images/testims/mock/3.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Ивченкова </span> О. В.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Экстренная сильная зубная боль.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Понравилась быстрая профессиональная работа.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Положительное, всё очень понравилось.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Процветания и много благодарных пациентов.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Ивченкова").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Ивченкова").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//4
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/4.jpg").image-link
								img(data-src="assets/images/testims/mock/4.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Туна </span> Т. В.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Была боязнь стоматолога
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Алексей Владимирович самый замечательный врач и очень внимательный человек.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Самое лучшее. Всё очень понравилось
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Здоровья, процветания.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Туна").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Туна").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//5
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/5.jpg").image-link
								img(data-src="assets/images/testims/mock/5.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Мещрякова </span> Л. Г.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Объём работы, которая предстояла. Подозревала, что её будет много, а на это нужно много терпения, здоровья.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Чистота, порядок присутствуют везде. Современное оборудование, медицинские препараты настраивают на полное доверие к врачу, а именно Гончаровой ОВ. Профессионализм тактичной Гончаровой  О.В.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Поэтому впечатление остались самые замечательные, несмотря на долгие процесс лечения и протезирования
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Хочется пожелать всему мед. Персоналу данной клиники дальнейшего процветания, расширения сферы стоматологических услуг и долгого существования.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Мещрякова").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//6
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/6.jpg").image-link
								img(data-src="assets/images/testims/mock/6.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Мешина </span> Л. Н.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Больше всего меня беспокоила молодость мед. Персонала, но коллектив оказался на высшем уровне.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Профессионализм и тактичность мед. Персонала, современное оборудование, график работы, чистота и порядок.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Впечатление осталось самое замечательное о Гончаровой Ольге Владимировны
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Так держать! Здоровья и процветания!
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Мешина").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Мешина").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//7
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/7.jpg").image-link
								img(data-src="assets/images/testims/mock/7.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Потапенко </span> Ю. С.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Я обратилась к стоматологу экстренно, дотянуло до последнего, когда боль была невыносимо терпеть. Нашла по  «2гис» Ближайшую стоматологию к моему дому, это оказалось Дентарино!!
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Была удивлена, что молодой коллектив, но оказалось, что коллектив то молодой, но очень опытный! Врачи отзывчивые и проникаются твоей проблемой. Все профессионалы своего дела!!!
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Спасибо огромное всем ребятам, а особенно моему леч. Врачу Годинову Р.В. Осталось очень довольная его работой и отношении к нам - пациентам.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Желаю вашему коллективу благодарных пациентов. Успехов в работе и процветания!
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Потапенко").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Потапенко").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//8
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/8.jpg").image-link
								img(data-src="assets/images/testims/mock/8.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Караманова </span> О. М.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Выражаю благодарность стоматологу Роману Владимировичу за чуткое и доброжелательное отношение к больным.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Здоровья и Удачи
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Караманова").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Караманова").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//9
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/9.jpg").image-link
								img(data-src="assets/images/testims/mock/9.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Ашихмина </span> О. П.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Боязнь, это будет больно и неприятно.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Внимательное отношение к людям всего персонала.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Замечательный сплочённый коллектив, очень внимательный и добрые врачи и обслуживающий персонал.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Успеха, процветания и благополучия. Удачи всем в их благородном деле.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Ашихмина").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Ашихмина").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//10
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/10.jpg").image-link
								img(data-src="assets/images/testims/mock/10.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Гешров </span> И. В.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Отсутствие части переднего зуба, изменение произношения отдельных слов.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Зуб восстановила Ольга Владимировна за одно посещение, выглядит как свой, естественный. Восстановилась речь.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|В клинике работают грамотные умелые специалисты на самом современном уровне.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Я хотел бы пожелать, чтобы о работе врачей-стоматологов узнали как можно больше людей, и чтобы врачи избавили их от стоматологических проблем.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Гешров").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Гешров").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//11
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/11.jpg").image-link
								img(data-src="assets/images/testims/mock/11.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Жижко </span> Д. Ю.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Отзывчивый и внимательный персонал, не только лечащий врач, но и врачи к которым приходилось обращаться при отсутствии своего доктора
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Спасибо Роману Владимировичу за то, что он терпит таких капризных пациентов как я. Прекрасный врач, рада, что попала именно к нему. 
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Пациентов!!!
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Жижко").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Жижко").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//12
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/12.jpg").image-link
								img(data-src="assets/images/testims/mock/12.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Демидов </span> О. П.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Понравилось качество работы персонала
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Отличное.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Процветания!!
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Демидов").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Демидов").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//13
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/13.jpg").image-link
								img(data-src="assets/images/testims/mock/13.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Петров </span> И. Л.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Самый большой страх, что ты плохо ухаживаешь за зубами, и стоматолог найдёт кариес. Пугает «Зловещая» атмосфера стоматологических кабинетов.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Вежливый, доброжелательный, квалифицированный персонал. Просторный и светлый кабинет, быстрое и качественное обслуживание
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Только положительное.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Развития. Совершенствуйтесь. Пусть все ваши клиенты будут довольны.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Петров").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Петров").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//14
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/14.jpg").image-link
								img(data-src="assets/images/testims/mock/14.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Пинцова </span>
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Боязнь боли
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Индивидуальный подход
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Положительное, приятное
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Процветания, успехов в работе. Много клиентов.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Пинцова").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Пинцова").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
				//15
				.item.post-img.col-xs-12
					.row
						.col-md-6.col-md-push-6
							a(href="assets/images/testims/full/15.jpg").image-link
								img(data-src="assets/images/testims/mock/15.jpg", class="owl-lazy", alt="")
						.col-md-6.col-md-pull-6
							p 7 ноября 2015
							h5 <span class="bold-text"> Савина </span> Е. В.
							p 
								|<span class="bold-text">Что Вас беспокоило больше всего перед обращением к стоматологу?</span><br>
								|Дискомфорт при удалении зуба.
							p 
								|<span class="bold-text">Что больше всего Вам понравилось в нашей клинике?</span><br>
								|Комфорт, внимательность, профессионализм.
							p 
								|<span class="bold-text">Какое впечатление осталось у Вас о нашей клинике?</span><br>
								|Отличное.
							p 
								|<span class="bold-text">Что бы вы хотели пожелать нашей клинике? </span><br>
								|Долголетия и процветания.
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Савина").sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								a(href="#", data-from="Оставить отзыв. Савина").testim-panel-anchor.btn.empty-btn Оставить свой отзыв
	.testim-slider-nav
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/1.jpg")
			p
				|Коновал А. П.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/2.jpg")
			p
				|Николенко С. А.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/3.jpg")
			p
				|Ивченкова О. В.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/4.jpg")
			p
				|Туна Т. В.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/5.jpg")
			p
				|Мещрякова Л. Г.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/6.jpg")
			p
				|Мешина Л. Н.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/7.jpg")
			p
				|Потапенко Ю. С.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/8.jpg")
			p
				|Караманова О. М.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/9.jpg")
			p
				|Ашихмина О. П.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/10.jpg")
			p
				|Гешров И. В.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/11.jpg")
			p
				|Жижко Д. Ю.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/12.jpg")
			p
				|Демидов О. П.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/13.jpg")
			p
				|Петров И. Л.
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/14.jpg")
			p
				|Пинцова
		.item
			.testim-slider-nav__ava.avas(data-bg="assets/images/testims/ava/15.jpg")
			p
				|Савина Е. В.
//testims end