$icon-angle = 32px 32px
$icon-botmail = 52.4px 52.4px
$icon-botphone = 52.4px 52.4px
$icon-bottom = 26px 32px
$icon-calculator = 32px 32px
$icon-call = 32px 32px
$icon-camera = 32px 32px
$icon-chat = 32px 32px
$icon-check = 32px 32px
$icon-comment = 32px 32px
$icon-compass = 52.4px 52.4px
$icon-corner = 26px 27.2px
$icon-culture = 32px 32px
$icon-cup = 32px 32px
$icon-diamond = 28px 32px
$icon-help2 = 32px 32px
$icon-home = 32px 32px
$icon-iconsearch = 47.9px 47.9px
$icon-info = 32px 32px
$icon-larrows = 22.1px 22.1px
$icon-left = 24.5px 48.5px
$icon-like2 = 27px 32px
$icon-line-1 = 18.2px 51px
$icon-line-2 = 32.6px 35.5px
$icon-line-3 = 26.7px 39.5px
$icon-line-4 = 63.5px 44.6px
$icon-line-5 = 13.3px 45.6px
$icon-logo = 45px 40px
$icon-look = 32px 32px
$icon-mailopen = 32px 32px
$icon-marker = 32px 32px
$icon-menu = 32px 32px
$icon-note2 = 25px 32px
$icon-notebook = 32px 32px
$icon-pen = 32px 32px
$icon-phone = 32px 32px
$icon-piggy = 30px 32px
$icon-plus = 32px 32px
$icon-rarrows = 22.1px 22.1px
$icon-refresh = 32px 32px
$icon-ribbon = 32px 32px
$icon-right = 24.5px 48.5px
$icon-science = 32px 32px
$icon-star = 32px 32px
$icon-study = 32px 32px
$icon-topanchor = 29.8px 45.5px
$icon-up = 26px 32px
$icon-user = 32px 32px
$icon-users = 28px 32px


svgSize($icon)
  width $icon[0]
  height $icon[1]