$desktop-cutoff = 1024px
$mobile-cutoff = 480px

$links-color = #0072ba
$links-hover-color = #d04000

$bg-color = #fdfdfd
$border-color = #eaeaea
$main-clr = #00aeef

$site-width = 1200px
$content-width = 70%
$sidebar-width = 228px

$main-color = #fc5b4d
$second-color = #5cc99f
$text-color = #505050
