section.docs
	.container
		.row
			.col-xs-12
				div(class="block-title service__title")
					div(class="block-title service__title-icon")
						svg(width="12" height="12")
							use(xlink:href="assets/images/icons.svg#icon-users")
					h4 <span>Наши врачи</span>
					h3 <span class="bold-text">12 опытных врачей </span> с суммарным <span class="bold-text">стажем 112 лет</span><br class="visible-lg"> и <span class="bold-text">32 сертификатами</span> и наградами
		.row
			.doc-slider
				//1
				.item.post-img.col-xs-12
					.row
						.col-md-6
							img.sign-panel-anchor(data-src="assets/images/docs/1/doc.jpg",class="owl-lazy", alt="", data-from="Записаться на приём. Гончарова Ольга Владимировна")
						.col-md-6
							p Директор Стоматологической клиники «Денатрио». Врач-стоматолог
							h5 <span class="bold-text">Гончарова </span> Ольга Владимировна
							p 
								|Я закончила Ставропольскую Государственную <br>
								|Медицинскую Академию в 2009 году с красным дипломом, <br>
								|затем прошла интернатуру и ординатуру по специальности <br>
								|Ортопедическая стоматология.
							p
								|Во время обучение принимала активное участие в научных <br>
								|конференциях. Являюсь автором нескольких научных <br>
								|статей. Работать начала с 3го курса, очень нравилось <br>
								|лечить людей, поэтому закончив обучение в Мед.академии <br>
								|уже были пациенты по рекомендации. Опыт работы 9 лет.
							p
								|Самая большая награда в нашей профессии – это <br>
								|благодарность пациентов. Очень приятно, что все большее <br>
								|количество людей приходят к нам по рекомендации. Когда <br>
								|читаешь книгу отзывов – становится так радостно, что <br>
								|столько людей решили проблемы с зубами, что многие <br>
								|избавились от страхов зубной боли. Одна пациентка <br>
								|процетировала слова одного местного поэта – «И доктора <br>
								|творят земное чудо, чтоб вспыхнул свет и радуга зажглась», <br>
								|«Мир должен знать, что есть такие люди, с пожизненной <br>
								|прививкой на добро». После таких слов внутри все замирает. <br>
								|Хочется делать еще больше добра людям. И этому принципу <br>
								|мы следуем в нашей работе.
							p
								|СтГМА 2009 <br>
								|Интернатура по специальности «Общая стоматология» <br>
								|Ординатура по специальности «Ортопедическая стоматология»
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Гончарова Ольга Владимировна").sign-panel-anchor.sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								.gallery
									a(href="assets/images/docs/1/dip1.jpg").btn.empty-btn Награды Ольги Владимировны
									.hidden
										a(href="assets/images/docs/1/dip2.jpg")
										a(href="assets/images/docs/1/dip3.jpg")
										a(href="assets/images/docs/1/dip4.jpg")
										a(href="assets/images/docs/1/dip5.jpg")
										a(href="assets/images/docs/1/dip6.jpg")
										a(href="assets/images/docs/1/dip7.jpg")
										a(href="assets/images/docs/1/dip8.jpg")
				//2
				.item.post-img.col-xs-12
					.row
						.col-md-6
							img.sign-panel-anchor(data-src="assets/images/docs/2/doc.jpg",class="owl-lazy", alt="", data-from="Записаться на приём. Хубиева Алина Аубекировна")
						.col-md-6
							p Врач-стоматолог стоматологической клиники DENTARIO
							h5 <span class="bold-text">Хубиева </span> Алина Аубекировна
							p 
								|Я работаю врачом-стоматологом 4 года и постоянно <br>
								|повышаю свой профессиональный уровень, посещаю <br>
								|многочисленные конференции, постоянно обновляю свои <br>
								|знания и изучаю современные методы лечения. Не смотря <br>
								|на мой молодой возраст, пациенты любят меня и <br>
								|доверяют,в итоге остаются довольными.
							p
								|Я считаю что каждый человек,выбравший определенную <br>
								|профессию должен достичь в ней совершенства,к чему я <br>
								|неуклонно стремлюсь.
							p
								|СБМК  2008-2011г.<br>
								|ПГУ 2014
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Хубиева Алина Аубекировна").sign-panel-anchor.sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								.gallery
									a(href="assets/images/docs/2/dip1.jpg").btn.empty-btn Награды Алины Аубекировны
									.hidden
										a(href="assets/images/docs/2/dip2.jpg")
				//3
				.item.post-img.col-xs-12
					.row
						.col-md-6
							img.sign-panel-anchor(data-src="assets/images/docs/3/doc.jpg",class="owl-lazy", alt="", data-from="Записаться на приём. Годинов Роман Владимирович")
						.col-md-6
							p Врач-стоматолог стоматологической клиники DENTARIO
							h5 <span class="bold-text">Годинов  </span> Роман Владимирович
							p 
								|Я работаю врачом-стоматологом 8 лет и постоянно <br>
								|повышаю свой профессиональный уровень, Протезирую и <br>
								|занимаюсь удалением. Мои пациенты привыкают ко мне <br>
								|легко, лечение проходит в комфортной для пациента <br>
								|обстановке, безболезненно, а главное качественно. <br>
								|Привыкание к коронкам и протезам минимальное. Мне в <br>
								|этом помогает современное оборудование.
							p
								|В жизни отношусь к людям так, как хотел бы, чтобы они <br>
								|относились ко мне. В работе - тот же принцип! Я очень <br>
								|доволен когда пациенты довольны итогом работы и могут <br>
								|спокойно и без стеснения улыбаться и оставляют <br>
								|благодарные отзывы.
							p
								|СБМК  2002-2007г
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Годинов Роман Владимирович").sign-panel-anchor.sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
								.gallery
									a(href="assets/images/docs/3/dip1.jpg").btn.empty-btn Награды Романа Владимировича
									.hidden
										a(href="assets/images/docs/3/dip2.jpg")
				//4
				.item.post-img.col-xs-12
					.row
						.col-md-6
							img.sign-panel-anchor(data-src="assets/images/docs/4/doc.jpg",class="owl-lazy", alt="", data-from="Записаться на приём. Пушкарев Алексей Владимирович")
						.col-md-6
							p Стоматолог-ортопед, главный врач Клиники
							h5 <span class="bold-text">Пушкарев </span> Алексей Владимирович
							p 
								|Я работаю врачом-стоматологом 10 лет и постоянно <br>
								|повышаю свой профессиональный уровень, также <br>
								|занимаюсь протезированием. Мои пациенты легко и быстро <br>
								|привыкают ко мне и лечение проходит быстро и <br>
								|безболезненно, а главное качественно. Привыкание к <br>
								|коронкам и протезам минимальное. Помогает мне в этом <br>
								|передовое диагностическое оборудование.
							p
								|Мне очень нравится моя работа, мне очень приятно, что <br>
								|люди с удовольствием ходят ко мне на прием с позитивным <br>
								|настроением и уходят от меня с красивой и здоровой <br>
								|улыбкой. А благодарные отзывы пациентов лучше любой похвалы.
							p
								|СБМК 2003-2006г<br>
								|СГУ 2006-2010
							.btns.clearfix
								a(href="#", data-from="Записаться на приём. Пушкарев Алексей Владимирович").sign-panel-anchor.sign-panel-anchor.btn.ghost-btn.blue Записаться на приём
	.doc-slider-nav
		.item
			.doc-slider-nav__ava.avas(data-bg="assets/images/docs/1/ava.jpg")
			p
				|Гончарова <br>
				|Ольга <br>
				|Владимировна
		.item
			.doc-slider-nav__ava.avas(data-bg="assets/images/docs/2/ava.jpg")
			p
				|Хубиева <br>
				|Алина <br>
				|Аубекировна
		.item
			.doc-slider-nav__ava.avas(data-bg="assets/images/docs/3/ava.jpg")
			p
				|Годинов <br>
				|Роман <br>
				|Владимирович
		.item
			.doc-slider-nav__ava.avas(data-bg="assets/images/docs/4/ava.jpg")
			p
				|Пушкарев <br>
				|Алексей <br>
				|Владимирович