//base
.owl-nav
	.off
		opacity .3
.slider-arrows
	position absolute

.owl-carousel .owl-item,
.owl-carousel .owl-item img
		transform-style preserve-3d



//Equip carousel

.equip

	&__slider
		margin-top 80px
		position relative

		.owl-controls
			position absolute
			top 80px
			width 100%
			+mobile()
				display none
			.left-arrow
				left 0
			.right-arrow
				right 0

		svg
			fill $main-clr

		.item
			max-width 370px
			text-align center

			img
				display inline-block
				height 220px
				max-width 250px

			h6
				margin 20px 0 30px
				rems(16px)

			p
				line-height 1.6
				rems(13px)

	&__btn
		text-align center
		margin-top 20px

		.btn
			display inline-block
			padding 20px 80px

//Equip carousel end


//Doc carousel

.docs
	margin-top 40px

.doc-slider
	transition: height 300ms ease-in-out 0s

.doc-slider
.testim-slider
	margin-top 70px
	position relative

	.post-img

	img
		margin 0 auto
		display block
	.owl-item
		img
			width 71%

	.owl-controls
		position absolute
		top 50%
		margin-top -45px
		width 100%
		+below(480px)
			top 17%
		.left-arrow
			left -40px
			fill $main-clr
			+below(480px)
				left 0
		.right-arrow
			right -40px
			fill $main-clr
			+below(480px)
				right 0

.doc-slider-nav
.testim-slider-nav
	margin-top 40px
	+below(600px)
		display: none !important
	.item
		position relative
		.color-overlay
			border-radius: 50%
			position absolute
			background-color rgba(0,174,239,.6)
			width 115px
			height 115px
			display block
			top 5px
			left 50%
			margin-left -57px
			z-index 1
		p
			text-align center
			line-height 1.5

	.current
		.testim-slider-nav__ava
		.doc-slider-nav__ava
			box-shadow inset 0 0 0 5px #00aeef
			&:before
				display none

.testims
	padding-top 100px

.doc-slider-nav__ava
.testim-slider-nav__ava
	border-radius 50%
	width 125px
	max-width 125px
	height 125px
	display block
	margin 0 auto 15px
	background-position 50% 0
	background-repeat no-repeat
	background-size contain
	position relative
	overflow hidden

	&:before
		content ''
		display block
		position absolute
		background-color rgba(0,174,239,.6)
		top 0
		bottom 0
		height 100%
		width 100%



//Doc carousel end
